*.swp
bin/ataxia*
cmd/*/package.go
*.pid
*~

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

*.test

# Ignore the rust target directory
target

# Ignore the Go vendor directory
vendor/
